* {
  margin: none;
}

body {
  background-color: #1e555c;
  color: aliceblue;
}

.App {
  margin: 200px auto;
  border: 6px solid indigo;
  border-radius: 10px;
  width: 750px;
  height: 60vh;
}

.timer-shell {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Baumans';
  font-size: 35px;
}

.length-adjustment {
  width: 75%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#break-length,
#session-length {
  width: 20px;
}

.break-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.session-icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#timer-label {
  border: 5px solid indigo;
  width: 300px;
  display: flex;
  margin: 10px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.controls {
  display: flex;
}

#reset,
#start_stop,
#break-increment,
#break-decrement,
#session-increment,
#session-decrement {
  cursor: pointer;
}
